@charset "UTF-8";
:root {
    --main-bg-color: white;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
canvas {
    background: red;
}
